.header {
  flex-shrink: 0;
  line-height: 1.5;
  padding: 6px;
}

header,
header a,
header a:visited {
  color: #eee;
}

.align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 43px;
  height: 43px;
  opacity: 0.8;
  background-size: contain;
  background-position: center;
  margin-top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}

.header h1,
.header h2,
.header h3 {
  margin: 0;
  display: inline-block;
}

.header h1 {
  font-weight: lighter;
  font-size: 40px;
}

.subtitles {
  display: flex;
  flex-direction: column;
  margin-right: .7em;
  padding-right: .7em;
  border-right: 1px solid #eee;
}

.subtitles h2 {
  font-weight: normal;
}

.subtitles h3 {
  font-weight: 200;
}

.subtitles > * {
  font-size: 17px;
}


/*@media only screen and (max-width: $mobileWidth) {
  .header h1 {
    font-size: 24px;
  }

  nav > a,
  .submissions {
    margin-right: .5rem;
  }

  .submissions {
    font-size: 1.5rem;
  }
}*/
