.metadata {
  /*flex-shrink: 10;*/

  box-sizing: border-box;
  overflow: auto;
  font-size: 1rem;
  background-color: #fff;
}

.title {
  font-size: 2em;

  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 1em;
  line-height: 1.0em;
  /*max-height: 3em;*/

  overflow: hidden;
  display: block;

  &.longTitle {
    font-size: 20px;
  }

}

.subtitle {
  font-size: 1em;
  margin-bottom: 0;
  letter-spacing: inherit;
}

.search-buttons {
  display: inline-block;
  list-style-type: none;
}

.search-buttons li {
  display: inline-block;
  margin-right: 0.5em;

  &:first-of-type {
    margin-left: 0.5em;
  }
}

.toggleMoreInfo {
  margin-left: 1em;
  display: none;
}

.search-buttons li a, .toggleMoreInfo {
  font-size: 0.9em;
  background-color: #00a1b0;
  border-radius: 1rem;
  color: white;
  margin-top: 0.35rem;
  padding: 0.35rem 0.7rem 0.3rem;
}

.search-buttons a,
.search-buttons a:visited {
  color: white;
}

.moreInfoOverlay {
  position: absolute;
  width: 96%;
  z-index: 1001;
  opacity: 0.9;
  left: 2%;
  background-color: white;
  padding: 20px;
  box-shadow: -3px 3px 6px 6px rgba(68, 68, 68, 0.3);
  border-radius: 5px;
  display: none;
}

.moreInfoOverlay.active {
  display: block;

  @nest :global(.horizontal) & {
    display: none;
  }
}

@media only screen and (max-width: $mobileWidth) {
  .title {
    font-size: 20px;
  }

  .search-buttons li {
    margin-bottom: 0.3em;
  }

  html, body {
    height: 100vh;
  }

  .moreInfo {
    display: none;
  }

  .toggleMoreInfo {
    display: inline-block;
  }
}
