/* Buttons, Text Input
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  width: 49%
}

.button-green {
  background-color: #579b34;
}

.button-red {
  background-color: #cf1d1e;
}

button, input {
  box-sizing: border-box;

  font-size: 100%;
  width: 100%;
  // border-radius: 4px;
  padding: .5em 1em;
  border: 0 rgba(0,0,0,0);

  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

button {
  font-size: 100%;
  width: 100%;
  color: white;
  border-radius: 3px;

  padding: .5em 1em;
  border: 0 rgba(0,0,0,0);

  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;

  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  opacity: 0.85;
}

button:hover {
  opacity: 1;
}

button:disabled {
  background-color: rgb(120, 120, 120);
  color: rgb(190, 190, 190);
  opacity: 0.85;
}
