.help {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.help-contents {
  margin: 20px;
  padding: 9px;

  width: 95%;
  max-width: 800px;
}

.help-contents,
.help-contents a,
.help-contents a:visited {
  color: rgb(21, 21, 21);
}
