.draggable {
  cursor: move;
}

.item-image-container,
.item-image {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

.item-image-container {
  height: 100%;
  overflow: hidden;
}

.item-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
