.container {
  overflow-y: scroll;
  width: 100%;
  padding: 2em 0;
}

.article {
  width: 760px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2em;
  box-sizing: border-box;
}

.article ul,
.article ol {
  margin: 1em;
}

.article img {
  margin: 1em 0;
}
