.container {
  overflow-y: auto;
  width: 100%;
  flex: 1;
}

.article {
  width: 760px;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  box-sizing: border-box;
}

.article h1 {
  text-align: center;
}

.article ul,
.article ol {
  margin: 1em;
}

.article img {
  margin: 1em 0;
  max-width: 100%;
}

.footer nav {
  background-color: #080808;
}
