/* Leaflet Map
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.map-container {
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.map-search {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 4px;
}

.map-search input {
  padding: .5em;
}

.map-search ol {
  position: absolute;
  z-index: 9999;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.map-search ol li {
  cursor: pointer;
  padding: 0.4em .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.map-search ol li:first-child {
  border-top-style: dashed;
  border-top-width: 3px;
  border-top-color: #eee;
  /*// padding-top: 9px;*/
}

.map-search ol li:hover {
  background-color: #eee;
}

.grayscale .leaflet-tile-container {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
