.container {
  width: 100%;
  flex-grow: 2;
  flex-basis: 70%;

  background-color: #FFF;

  display: flex;
  flex-direction: column;
}

.container > * {
  flex: 1;
}

.container > *:last-child {
  flex: 0 0 auto;
}
