.button {
  cursor: pointer;
  box-sizing: border-box;
  display: inline;
  background-color: #dededf;
  border-radius: 2rem;
  color: white;
  display: inline-block;
  margin: 0.6rem;
  padding: 0.5rem 1.3rem 0.3rem;
  text-transform: uppercase;

  border-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-style: solid;
}

.button:focus {
  outline: 0;
}

.button:not(.disabled):active {
  border-color: rgba(255, 255, 255, 1);
}

.primary {
  background-color: #d0343a;
}

.secondary {
  color: #d0343a;
  background: none;
}

.disabled {
  background-color: #dededf;
  cursor: inherit;
}
