#app {
  width: 100%;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
}

#item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item-image, footer {
  box-sizing: border-box;
  width: 100%;
}

.item-image {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

footer h1 {
  font-size: 25px;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.geotagger-spacer {
  width: 400px;
  margin-left: 2em;
}
