.draggable {
  cursor: move;
}

.container,
.image {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

.container {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
