/*.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}*/

.explanation {
  margin: 0 auto;
  display: block;
  height: 200px;
  flex-shrink: 2;
  max-width: 100%;
}
