.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.first {
  width: 66%;
  // flex-grow: 3;
}

.second {
  width: 34%;
  // flex-grow: 1;
  // overflow: hidden;
  min-height: 30px;
  flex-grow: 1;
  display: flex;
}

.second > * {
  // position: absolute;
  max-height: 100%;
  overflow: hidden;
  display: flex;
}

.horizontal .second > * {
  left: 30px;
  flex-direction: column;
  flex-grow: 1;
}

.vertical .second {
  flex-direction: column;
}

.vertical .second > * {
  bottom: 0;
  flex-direction: column;
  height: 100%;
  // padding-top: 30px;
}

.horizontal .second > .resizer, .vertical .second > .resizer {
  left: 0;
  top: 0;
  flex-grow: 0;
}

.vertical .second > .resizer {
  height: 30px;
}

.resizer {
  flex-shrink: 0;
  width: 30px;
  height: 100%;
  background-color: #76777b;
  color: white;
  cursor: col-resize;
  overflow: hidden;
  position: relative;
  z-index: 10;

  &.resizing {
    opacity: 1;
  }
}

.resizer span {
  color: #dededf;
  display: block;
  font-size: 3rem;
  margin-top: -25px;
  margin-left: -2px;
  position: absolute;
  text-align: center;
  text-shadow: 0 2px black;
  top: 50%;
  width: 100%;
}

.resizer span:after {
  content: '⋮';
}


@media only screen and (max-width: $mobileWidth) {
  .container {
    flex-direction: column;
  }

  .resizer {
    height: 30px;
    width: 100%;
    cursor: row-resize;
  }

  .resizer span {
    top: 0;
    left: 50%;
    width: auto;
    margin-top: -18px;
    margin-left: -19px;
  }

  .resizer span:after {
    content: '⋯';
  }
}
