/* Global styles */

:root {
  overflow-y: auto;
}

html {
  /*font-size: 62.5%;*/
  font-size: 18px;
  font-weight: 300;
}

html,
body {
  height: 100%;
  width: 100%;

  background-color: #fafafa;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
}

body.fontLoaded {
  font-family: 'Kievit';
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  /*letter-spacing: -.1rem;*/ }
h2 { font-size: 2.0rem; line-height: 1.25; /*letter-spacing: -.1rem;*/ }
h3 { font-size: 1.5rem; line-height: 1.3;  font-weight: bold; /*letter-spacing: -.1rem;*/ }

p {
  margin-top: 0;
  margin-bottom: 1em;
}

:global(.sidebar-padding) {
  padding: 15px;
}

:global(.orientation-vertical) {
  display: none;
}

@media only screen and (max-width: $mobileWidth) {
  :global(.orientation-vertical) {
    display: inherit;
  }

  :global(.orientation-horizontal) {
    display: none;
  }
}

:global(.centered) {
  text-align: center;
}

body.fontLoaded {
  font-family: 'Kievit';
}

a, a:visited {
  color: #d0343a;
}

.wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}
